body {
	background-color: rgba(0, 51, 0, 0.5);
}
.name	{
	color: white;
	text-align: center;
	font-family: Georgia, Serif;
	font-weight: 200;
}
.occupation	{
	color: black;
	text-align: center;
	font-family: Georgia, Serif;
	font-style: italic;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 51, 0, 0.7);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Georgia, Serif;
  font-style: bold;
}

li a:hover {
  background-color: rgba(0, 51, 0, 0.3);
}
.active {
	background-color: rgba(0, 51, 0);
}
